.card{
    background-color: #fff;
}

title{
    color: #282828;
    font-size: 14px;
}

p{
    color: #282828;
    font-size: 12px;
}

img{
    width: 288px;
    height: 182px;
}

.card__img-top{
    margin-bottom: 10px;
}

.card{
    padding: 10px;
}